@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

*{
  font-family: 'Cinzel', serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #4b4848;
  color: white;
}

.topWrapper{
  background-color: rgb(77, 75, 75);
  padding: 1%;
  color: rgb(255, 255, 253);
  display: grid;
  grid-template-columns: 80% 20%;
  border: solid;

}

.Wrapper{
  background: rgb(77, 75, 75);
  color: rgb(255, 255, 255);
  padding: 2%;
  display: grid;
  grid-template-columns: 20% 80%;
  border: solid;
  margin: 5%;
}




.item:nth-child(odd){
  background: #F7EDE3;
}

.item:nth-child(even){
  background: #EBE2DA;
}
a:visited {
  color: rgb(255, 255, 255);
}


a:hover {
  
  color: rgb(255, 255, 255);
  background-color: rgb(59, 59, 59);
}

.button {
  background-color: #8d7272;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.input{
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.centro{
  text-align: center;
  padding: 10%
}

.right {
  display:block;
  max-width: 100%;
  margin-left: auto;
  padding-right: 15%;
}

.Cancelbutton {
  background-color: #c45a47;
  border: none;
  color:  white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}