<html>
{% include "header.html" %}
{% include "head.html" %}

    
<body>

        <div class="centro">
            <div>
                    <h2> Create new {{cat_name}} Item</h2>
                    <form action= "{{url_for('createItem', cat_name = cat_name)}}" method = 'POST'>
                                <br>
                                <br>
                    <p>Name:</p>
                    <br>
                    
                    <input  type='text' size='30' maxlength="250" name='name' placeholder="Name of the item" required>
                    <br>
                    <br>
        
                    <p>Description:</p>
                    <br>
                    
                    
        
                    <input type='text' size='30' maxlength="250" name='Description' placeholder="Description of the item" required>
            </div>

            <div>
                        <br>
                        <br>
                    <input class="button" type="submit" value="Create">
                    <a href= '{{url_for('showItems', cat_name = cat_name)}}' class=" Cancelbutton">Cancel</a>
        
            </div>

            </form>
        </div>
</body>




</html>