
<html>

{% include "header.html" %}
{% include "head.html" %}



{% include "header.html" %}


    <body>

        <div class=" centro">

                <h2>Are you sure you want to delete {{itemToDelete.name}} from {{itemToDelete.cat_name}} list?</h2> <hr>
            
                <form action="{{ url_for('deleteItem',cat_name = cat_name, item_name= itemToDelete.name, item_id = itemToDelete.id)}}" method = 'post'>
                
                    <input type='submit', value = 'Delete' class= "button">
                    <a href= '{{url_for('showItems', cat_name = cat_name)}}' class="Cancelbutton">Cancel</a>
                    
                </form>

        </div>

    
    </body>
    </html>