<html>
 
{% include "header.html" %}
{% include "head.html" %}



<body>
  <div class= "Wrapper">
      <div class = "Cat">
        
          <h2>Categories</h2><hr>
          <br>
         
            {% for i in Categories %} 
            <br>
            <br>
                <a href='{{url_for('showItems', cat_name = i.name, cat_id = i.id) }}'>{{i.name}}{{i.id}}</a>

            {% endfor %}
      </div>

      <div class = "Itmes">
        <h2>Latest Items</h2><hr>
        <br>
        {% for i in Items %}
        <br>
        <br>
        <!-- <a href='{{url_for('ItemDescription', cat_name = cat_name ,cat_id = i.cat_id, item_name= i.name, item_id = i.id) }}'>{{i.name}}</a> ({{i.cat_id}}) -->
        <p>{{i.name}}</p>
        {% endfor %}
      </div>
  </div>
</body>



</html>