<html>


<header>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style.css') }}">
  <meta charset="utf-8">
</header>
 

<head> 
<div class = "topWrapper">
    <div>
        <h1>Catalog App</h1>
    </div>

    <div>
     <a href='{{url_for('showCategories') }}' class="button">SING IN</a>
    </div>

    <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        
      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    </div>


</div>
</head>






<body>
  <div class= "Wrapper">
      <div class = "Cat">
        
          <h2>Categories</h2><hr>
          <br>
         
            {% for i in Categories %} 
            <br>
            <br>
                <a href='{{url_for('showItems', cat_name = i.name) }}'>{{i.name}}</a>

            {% endfor %}
      </div>

      <div class = "Itmes">
        <h2>Latest Items</h2><hr>
        <br>
        {% for i in Items %}
        <br>
        <br>
        <a href='{{url_for('ItemDescription', cat_name = i.cat_name, item_name= i.name, item_id = i.id) }}'>{{i.name}}</a> ({{i.cat_name}})
        {% endfor %}
      </div>
  </div>
</body>



</html>