<html>
<HEAD>
<meta charset="utf-8">
</HEAD>


<header>

<div class=right>  <a href='{{url_for('showCategories') }}' class="button">SING IN</a></div>

</header>
 
<head>
    <h1>Catalog App</h1>
</head>

<body>


<div>

{% for i in Categories %}   
    <a href='{{url_for('showItems', cat_name = i.name) }}'>{{i.name}}</a>
    <br>
{% endfor %}

<div>
        <h2>Latest Items</h2><hr>
        {% for item in Items %}
          <a href="{{ url_for('ItemDescription', cat_name = item.name, item_name= item.name, item_id=item.id) }}"><p>{{ item.name }} </a>{{ item.cat_name }}</p>
        {% endfor %}
      </div>
</div>
</body>
<footer>
    created by DIEGO BUSTOS
</footer>

</html>