<html>

  {% include "header.html" %}
  {% include "head.html" %}


        <div>

            <a href='{{url_for('showCategories') }}' class="button">BACK</a>
            <a href='{{url_for('createItem', cat_name = Cat.name) }}' class="button">CREATE</a>
        </div>


<body>

  <div class="Wrapper">

      <div>
      
        <h2>Categories</h2><hr>
        <br>
        <br>
          {% for i in Categories %} 
                <a href='{{url_for('showItems', cat_name = i.name) }}'>{{i.name}}</a>
                <br>
                <br>
          {% endfor %}
        
      </div>
      <div>
            <h2>{{Cat.name}} Items</h2><hr>
            <br>
            <br>
            {% for i in Items %}   
            <br>
            <br>
            <a href='{{url_for('ItemDescription', cat_name = Cat.name, item_name= i.name, item_id = i.id) }}'>{{i.name}}</a><br>
            {% endfor %}
      
      </div>
    </div>

</body>


</html>