<html>
        <header>
                <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style.css') }}">
                <meta charset="utf-8">
        </header>
        {% include "header.html" %}
        
                <a href='{{url_for('showCategories') }}' class="Cancelbutton">BACK</a>

<body>

        <a href='{{url_for('showCategories') }}' class="Cancelbutton">BACK</a>

    <div class="centro">
            <h2>{{Item.name}}</h2><hr>
            <p>{{Item.description}}</p>
    </div>


</body>


<footer>

</footer>

</html>